[deps.logrus]
import = "github.com/Sirupsen/logrus"
source = "https://github.com/Sirupsen/logrus"
scm = "git"
tag = "v0.11.5"

[deps.proto]
import = "github.com/golang/protobuf"
source = "https://github.com/golang/protobuf"
scm = "git"
branch = "master"

[deps.mux]
import = "github.com/gorilla/mux"
source = "https://github.com/gorilla/mux"
scm = "git"
tag = "v1.3.0"

[deps.mysql]
import = "github.com/go-sql-driver/mysql"
source = "https://github.com/go-sql-driver/mysql"
scm = "git"
tag = "v1.3"

[deps.goconfig]
import = "github.com/Unknwon/goconfig"
source = "https://github.com/Unknwon/goconfig"
scm = "git"
branch = "master"

[deps.spew]
import = "github.com/davecgh/go-spew"
source = "https://github.com/davecgh/go-spew"
scm = "git"
tag = "v1.1.0"
